
.PostProject{
    border: 3px solid grey;
    position: absolute;
    width: 50vw;
    height: 75vh;
    margin: 25vh 25vw 20vh 25vw;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.15);
    padding: 1vh 1vw 1vh 1vw;
    Form {
        display: block;
    }

    .LabelPostProject{
        display: block;
        color:black
    }
    #Option {
        width: 40vw;
    }
}

@media (max-width: 900px){
    .PostProject{
        padding: 1vh 1vw 1vh 1vw;
        width: 80vw;
        height: 83vh;
        margin: 15vh 10vw 0vh 10vw;
        
    }
    .LabelPostProject{
        display: block;
        color:black
    }

    #Option {
        width: 20vw;
    }
  

}