@media screen and (max-width: 700px){
    .Body{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .Card {  
        margin: 20vh 1vw 0vh 1vw; 
        border: 3px solid whitesmoke;
        width: 70%;
        height: 70vh;
        box-shadow: 10px 10px 5px rgba(0,0,0,0.15);
        border-radius: 10px;
    
        img{
            width: 100%;
            height: 40%;
            border-radius: 10px;
            border-bottom: double;
            
        }
       .Title {
        height: 15%;
           color:rgba(216, 10, 10, 0.801);
           margin: 0vh 0.5vw 0vh 0.5vw;
           font-size: 20px;
       }
       .Skills span{
        font-family: "Gill Sans", sans-serif;
       }
       
       .Skills{
        height: 15%;
           
           margin: 0vh 0.5vw 0vh 0.5vw;
           font-family: cursive; 
           font-size: 20px;
       }
       .NumDev{
        
        margin: 1vh 0.5vw 2vh 0.5vw;
        font-size: 20px;
       }
       .Button{
        
        margin: 0vh 0.5vw 0vh 0.5vw;
       }
     
    }
}


@media screen and (min-width: 701px) and (max-width: 1024px){
    .Body{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .Card {  
        margin: 20vh 1vw 0vh 1vw; 
        border: 3px solid whitesmoke;
        width: 46%;
        height: 69vh;
        box-shadow: 10px 10px 5px rgba(0,0,0,0.15);
        border-radius: 10px;
    
        img{
            width: 100%;
            height: 40%;
            border-radius: 10px;
            border-bottom: double;
            
        }
       .Title {
        height: 20%;
           color:rgba(216, 10, 10, 0.801);
           margin: 0vh 0.5vw 0vh 0.5vw;
       }
       .Skills span{
        font-family: "Gill Sans", sans-serif;
       }
       
       .Skills{
        height: 20%;
           
           margin: 0vh 0.5vw 0vh 0.5vw;
           font-family: cursive; 
       }
       .NumDev{
        
        margin: 0vh 0.5vw 1vh 0.5vw;
       }
       .Button{
        
        margin: 0vh 0.5vw 0vh 0.5vw;
       }
     
    }
}
@media screen and (min-width: 1025px) {
    
    .Body{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .Card {  
        margin: 20vh 1vw 0vh 1vw; 
        border: 3px solid whitesmoke;
        width: 25%;
        height: 70vh;
        box-shadow: 10px 10px 5px rgba(0,0,0,0.15);
        border-radius: 10px;
    
        img{
            width: 100%;
            height: 40%;
            border-radius: 10px;
            border-bottom: double;
            
        }
       .Title {
        height: 20%;
           color:rgba(216, 10, 10, 0.801);
           margin: 0vh 0.5vw 0vh 0.5vw;
       }
       .Skills span{
        font-family: "Gill Sans", sans-serif;
       }
       
       .Skills{
        height: 20%;
           
           margin: 0vh 0.5vw 0vh 0.5vw;
           font-family: cursive; 
       }
       .NumDev{
        
        margin: 0vh 0.5vw 1vh 0.5vw;
       }
       .Buttons{
        display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
        justify-content: flex-start;
        margin-left: 0.5vw;
        
       
       }

    
     
    }
    

}