.Body{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around; 
}

.Form {
    height: 50vh;
    width: 50vw;
    margin: 25vh 25vw 25vh 25vw;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
    justify-content: space-around; 
    
    #label-username{
        display: block;
    }
}

// @media (min-width: 900px){
//     label {
//         display: block;
//     }
// }